# LOADING DATA

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.getcwd()

'c:\\Users\\luich\\Documents\\tfm_hipocotile_simulations'

There is 3 sheets in the excel file that we have access: figure 2B, figure 3B and figure 7D. We must curate the 3 of them separatety.

In [3]:
xls = pd.ExcelFile('Caribaño_2025_SciAdv_PartialData.xlsx')
df1 = pd.read_excel(xls, 'Fig2B')
df2 = pd.read_excel(xls, 'Fig3B')
df3 = pd.read_excel(xls, 'Fig7D')

### Figure 2B

In [4]:
df1

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0         NaN        Col       pifq     cop1-4     det1-1        hy5
1     average    3.20325   1.889167     2.2367       3.24     9.1349
2         NaN   1.691778   1.537667   1.680652   1.968208    3.36852
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
5          SD   0.388984   0.296051   0.332552   0.413324   1.298662
6         NaN   0.277325   0.239305   0.211372   0.251441   0.542691
7         NaN        NaN        NaN        NaN        NaN        NaN
8         NaN        NaN        NaN        NaN        NaN        NaN
9         NaN        NaN        NaN        NaN        NaN        NaN
10        NaN        NaN        NaN        NaN        NaN        NaN
11        NaN        NaN        NaN        NaN        NaN        NaN
12        NaN        NaN        NaN        NaN        NaN        NaN
13        NaN        NaN        NaN        NaN        NaN        NaN
14        NaN        NaN        NaN        NaN        NaN        NaN
15        NaN        NaN        NaN        NaN        NaN        NaN
16        NaN        NaN        NaN        NaN        NaN        NaN
17        NaN        NaN        NaN        NaN        NaN        NaN
18        NaN        NaN        NaN        NaN        NaN        NaN
19        NaN       Col0       pifq     cop1-4     det1-1        hy5
20   average   13.296875   8.119231   5.374286   5.413333      13.09
21        NaN  13.142778   4.888571     3.1775       3.31  13.171667
22        NaN        NaN        NaN        NaN        NaN        NaN
23         SD   1.058677   0.622675   1.149143   0.625001   1.005525
24        NaN   1.043274    0.82074   0.437681   0.345471   1.737008

In [5]:
df1_trimmed = pd.concat([df1[1:3], df1[5:7], df1[20:22], df1[23:]])
df1_trimmed = df1_trimmed.iloc[:, 1:]
df1_trimmed.columns = df1.iloc[0, 1:]
df1_trimmed.index = (['Average'] * 2 + ['SD'] * 2) * 2
df1_trimmed

0              Col      pifq    cop1-4    det1-1        hy5
Average    3.20325  1.889167    2.2367      3.24     9.1349
Average   1.691778  1.537667  1.680652  1.968208    3.36852
SD        0.388984  0.296051  0.332552  0.413324   1.298662
SD        0.277325  0.239305  0.211372  0.251441   0.542691
Average  13.296875  8.119231  5.374286  5.413333      13.09
Average  13.142778  4.888571    3.1775      3.31  13.171667
SD        1.058677  0.622675  1.149143  0.625001   1.005525
SD        1.043274   0.82074  0.437681  0.345471   1.737008

In [6]:
df1_trimmed

0              Col      pifq    cop1-4    det1-1        hy5
Average    3.20325  1.889167    2.2367      3.24     9.1349
Average   1.691778  1.537667  1.680652  1.968208    3.36852
SD        0.388984  0.296051  0.332552  0.413324   1.298662
SD        0.277325  0.239305  0.211372  0.251441   0.542691
Average  13.296875  8.119231  5.374286  5.413333      13.09
Average  13.142778  4.888571    3.1775      3.31  13.171667
SD        1.058677  0.622675  1.149143  0.625001   1.005525
SD        1.043274   0.82074  0.437681  0.345471   1.737008

#### Separate conditions

In [7]:
f2B_light_mock = pd.concat([df1_trimmed[0:1], df1_trimmed[2:3]])
f2B_light_ABA = pd.concat([df1_trimmed[1:2], df1_trimmed[3:4]])
f2B_dark_mock = pd.concat([df1_trimmed[4:5], df1_trimmed[6:7]])
f2B_dark_ABA = pd.concat([df1_trimmed[5:6], df1_trimmed[7:8]])

In [8]:
f2B_light_mock, f2B_light_ABA, f2B_dark_mock, f2B_dark_ABA

(0             Col      pifq    cop1-4    det1-1       hy5
 Average   3.20325  1.889167    2.2367      3.24    9.1349
 SD       0.388984  0.296051  0.332552  0.413324  1.298662,
 0             Col      pifq    cop1-4    det1-1       hy5
 Average  1.691778  1.537667  1.680652  1.968208   3.36852
 SD       0.277325  0.239305  0.211372  0.251441  0.542691,
 0              Col      pifq    cop1-4    det1-1       hy5
 Average  13.296875  8.119231  5.374286  5.413333     13.09
 SD        1.058677  0.622675  1.149143  0.625001  1.005525,
 0              Col      pifq    cop1-4    det1-1        hy5
 Average  13.142778  4.888571    3.1775      3.31  13.171667
 SD        1.043274   0.82074  0.437681  0.345471   1.737008)

In [9]:
f2B_light_mock['Light'] = 'Low light'; f2B_light_mock['Strain'] = 'Mock'
f2B_light_ABA['Light'] = 'Low light'; f2B_light_ABA['Strain'] = '10 muM ABA'
f2B_dark_mock['Light'] = 'Dark'; f2B_dark_mock['Strain'] = 'Mock'
f2B_dark_ABA['Light'] = 'Dark'; f2B_dark_ABA['Strain'] = '10 muM ABA'

In [10]:
f2B = pd.concat([f2B_light_mock, f2B_light_ABA, f2B_dark_mock, f2B_dark_ABA])
f2B.to_csv('Fig2B', index=True)
f2B

,Col,pifq,cop1-4,det1-1,hy5,Light,Strain
Average,3.20325,1.889167,2.2367,3.24,9.1349,Low light,Mock
SD,0.388984,0.296051,0.332552,0.413324,1.298662,Low light,Mock
Average,1.691778,1.537667,1.680652,1.968208,3.36852,Low light,10 muM ABA
SD,0.277325,0.239305,0.211372,0.251441,0.542691,Low light,10 muM ABA
Average,13.296875,8.119231,5.374286,5.413333,13.09,Dark,Mock
SD,1.058677,0.622675,1.149143,0.625001,1.005525,Dark,Mock
Average,13.142778,4.888571,3.1775,3.31,13.171667,Dark,10 muM ABA
SD,1.043274,0.82074,0.437681,0.345471,1.737008,Dark,10 muM ABA

In [11]:
# Ejemplo
f2B[(f2B['Light'] == 'Low light') & (f2B['Strain'] == 'Mock')]

0             Col      pifq    cop1-4    det1-1       hy5      Light Strain
Average   3.20325  1.889167    2.2367      3.24    9.1349  Low light   Mock
SD       0.388984  0.296051  0.332552  0.413324  1.298662  Low light   Mock

### Figure 3B

For this figure I am going to use only a few compatible results with the model. This values will be added to a multi-index dataframe taking the values from Figure 2B. This dataframe is named ``exp_data`` from *experimental data* and it will be used to parametric adjustment for the extended Nieto *et al.* (2022) model.

In [12]:
extra_cols = pd.DataFrame()
extra_cols['Light'] = (['Low light'] * 4 + ['Dark'] * 4)
extra_cols['Treatment'] = (['Mock', '10 muM ABA'] * 4)

# Concatenar horizontalmente
exp_data = pd.concat([extra_cols, df1_trimmed.copy().reset_index(drop=False)], axis=1)

# Crear un MultiIndex
exp_data.set_index(['Light', 'Treatment'], inplace=True)

# Añadir la columna 'index' como tercer nivel del índice
exp_data.set_index('index', append=True, inplace=True)

# Renombrar los niveles del índice
exp_data.index.set_names(['Light_condition', 'ABA_treatment', 'Metric'], inplace=True)



# Ordenar dataframe
from itertools import product
# Definir los niveles del índice
lights = ['Low light', 'Dark']; treatments = ['Mock', '10 muM ABA']; metrics = ['Average', 'SD']
desired_order = list(product(lights, treatments, metrics))
exp_data = exp_data.reindex(desired_order)


# Añadir datos de Fig. 3B:
#                     LightMockAv, LightMockSD, LightABAAv,  LightABASD,  Dark...
exp_data['phyB-9'] =    5.752222,    0.531432,    2.202222,    0.430255,    np.nan, np.nan, np.nan, np.nan
exp_data['35S:PIF4'] =  13.129625,   1.273713125, 7.151333333, 1.151332272, np.nan, np.nan, np.nan, np.nan

exp_data

                                             Col      pifq    cop1-4  \
Light_condition ABA_treatment Metric
Low light       Mock          Average    3.20325  1.889167    2.2367
                              SD        0.388984  0.296051  0.332552
                10 muM ABA    Average   1.691778  1.537667  1.680652
                              SD        0.277325  0.239305  0.211372
Dark            Mock          Average  13.296875  8.119231  5.374286
                              SD        1.058677  0.622675  1.149143
                10 muM ABA    Average  13.142778  4.888571    3.1775
                              SD        1.043274   0.82074  0.437681

                                         det1-1        hy5    phyB-9  \
Light_condition ABA_treatment Metric
Low light       Mock          Average      3.24     9.1349  5.752222
                              SD       0.413324   1.298662  0.531432
                10 muM ABA    Average  1.968208    3.36852  2.202222
                              SD       0.251441   0.542691  0.430255
Dark            Mock          Average  5.413333      13.09       NaN
                              SD       0.625001   1.005525       NaN
                10 muM ABA    Average      3.31  13.171667       NaN
                              SD       0.345471   1.737008       NaN

                                        35S:PIF4
Light_condition ABA_treatment Metric
Low light       Mock          Average  13.129625
                              SD        1.273713
                10 muM ABA    Average   7.151333
                              SD        1.151332
Dark            Mock          Average        NaN
                              SD             NaN
                10 muM ABA    Average        NaN
                              SD             NaN

In [13]:
# Guardar
exp_data.to_csv('experimental_data_for_extended_model.csv', index=True)
exp_data

                                             Col      pifq    cop1-4  \
Light_condition ABA_treatment Metric
Low light       Mock          Average    3.20325  1.889167    2.2367
                              SD        0.388984  0.296051  0.332552
                10 muM ABA    Average   1.691778  1.537667  1.680652
                              SD        0.277325  0.239305  0.211372
Dark            Mock          Average  13.296875  8.119231  5.374286
                              SD        1.058677  0.622675  1.149143
                10 muM ABA    Average  13.142778  4.888571    3.1775
                              SD        1.043274   0.82074  0.437681

                                         det1-1        hy5    phyB-9  \
Light_condition ABA_treatment Metric
Low light       Mock          Average      3.24     9.1349  5.752222
                              SD       0.413324   1.298662  0.531432
                10 muM ABA    Average  1.968208    3.36852  2.202222
                              SD       0.251441   0.542691  0.430255
Dark            Mock          Average  5.413333      13.09       NaN
                              SD       0.625001   1.005525       NaN
                10 muM ABA    Average      3.31  13.171667       NaN
                              SD       0.345471   1.737008       NaN

                                        35S:PIF4
Light_condition ABA_treatment Metric
Low light       Mock          Average  13.129625
                              SD        1.273713
                10 muM ABA    Average   7.151333
                              SD        1.151332
Dark            Mock          Average        NaN
                              SD             NaN
                10 muM ABA    Average        NaN
                              SD             NaN

### Figure 7D